
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <input type="checkbox" id="menu" name="">
  <div class="sidebar">
    <div class="sidebar-brand">
      <h2>Project Manager</h2>
    </div>

    <div class="sidebar-menu">
      <ul>
        <li>
          <a routerLink="/dashboard" ><span class="fa fa-home"></span><span >Home</span></a>
        </li>
        <li>
          <a routerLink="/company"><span class="fa fa-th-large"></span><span>Company</span></a>
        </li>
        <li>
          <a routerLink="/project"><span class="fa fa-clipboard"></span><span>Project</span></a>
        </li>
        <li>
          <a routerLink="/task"><span class="fa fa-tasks"></span><span>Task</span></a>
        </li>
        <li>
          <a routerLink="/utilisateur"><span class="fa fa-group"></span><span>Users</span></a>
        </li>
      </ul>
    </div>
  </div>


